/* Torneo.css */
.container {
    display: flex;
    background-color: #00ced1; /* Color azul turquesa */
  }
  
  .background {
    flex: 1;
  }
  
  .sidebar {
    width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  .main-content {
    flex: 3;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  button {
    margin: 0 5px;
  }
  
  .bracket {
    display: flex;
    flex-wrap: wrap;
  }
  
  .round {
    flex: 1;
    padding: 10px;
  }
  
  .match {
    margin-bottom: 10px;
  }
  
  .participant {
    margin-right: 10px;
  }
  
  .vs {
    margin: 0 5px;
  }
  
  .winner {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    color: #008000; /* Color verde para el ganador */
  }
  
  /* Estilos para el mensaje del ganador final */
  .winner-message {
    background-color: #000; /* Color de fondo negro */
    color: #fff; /* Color de texto blanco */
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }
  